/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -5px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 300px;
      height: 300px;
     /* background: url('/profile/public/img/gra2.JPG');*/
      display: inline;
      border-radius: 50%;
      border: solid 4px #eece1a; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #eece1a; }
    .menu .nav-item .about-menu {
      transform: translate3d(300px, 0, 0);
      transition: all 0.5s ease-out; }
      .menu .nav-item .about-menu.show {
        transform: translate3d(0, 0, 0); }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font: size 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #eece1a; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.nav-item:nth-child(5) {
  transition-delay: 0.5s; }

.nav-item:nth-child(6) {
  transition-delay: 0.6s; }

* {
  box-sizing: border-box; }

body {
  height: 100%;
  margin: 0;

  font-family: "Times New Roman", Times, serif;
  line-height: 1.5; }
  body#bg-img {
    background: './img/bgr2.JPG';
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.5); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.marquee,
  h2.marquee,
  h3.marquee {
    height: 40px;
    background: rgba(73, 73, 73, 0.5);
    color: orange; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 40px; }
  h1.Xlg-heading,
  h2.Xlg-heading,
  h3.Xlg-heading {
    font-size: 5rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2 rem 3 rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: rgb(13, 52, 66);
  margin: 5px;
  text-decoration: none;

}
a:hover {
        color:#287407;
        transition: all 0.5s ease-out; }



main {
  padding: 4rem;
  min-height: calc(100vh-60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #eece1a;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.work-info {
  display: grid;
  grid-gap: 30px;
  text-align: justify;
  margin: 20px;
  grid-template-areas: "job1 job2" "job3 job4";
  grid-template-columns: repeat(2, 1fr); }
  .work-info .job-1 {
    grid-area: job1; }
  .work-info .job-2 {
    grid-area: job2; }
  .work-info .job-3 {
    grid-area: job3; }
  .work-info .job-4 {
    grid-area: job4; }
  .work-info .job {
    background: #515151;
    padding: 20px;
    margin: center;
    border-bottom: #eece1a 5px solid; }
    .work-info .job h2 {
      border-bottom: #eece1a dotted;
      border-bottom: padding; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "profileimage profile";
  grid-template-columns: repeat(2, 1fr); }
  .about-info .profile-image {
    grid-area: profileimage;
    margin: auto;
    border-radius: 50%;
    border: #eece1a 3px solid; }
  .about-info .profile {
    grid-area: profile;
    font-size: 1.5 rem; }
    .about-info .profile h2 {
      text-decoration: underline; }

#school img {
  height: 10em; }

.education {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(4, 1fr); }
  .education img {
    width: 100%;
    border: 3px green solid;
    display: flex; }
    .education img:hover {
      opacity: 0.5;
      border-color: #eece1a;
      transition: all 0.5s ease-out; }

.btn, .btn-light, .btn-dark {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-light:hover, .btn-dark:hover {
    background: #eece1a;
    color: black; }

.boxes {
  display: inline-block;
  inline-size: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px white solid;
    padding: 0.5rem 1.5rem;
    margin-bottom: 6rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #eece1a;
      color: black; }
      .boxes div:hover span {
        color: black; }

.about-skill {
  display: grid;
  text-align: justify;
  grid-gap: 30px;
  margin: 30px;

  grid-template-areas: "skill1 skill2" "skill3 skill4" "skill5 skill6 " "publication publication";
  grid-template-columns: repeat(2, 1fr); }
  .about-skill .skill-1 {
    grid-area: skill1; }
  .about-skill .skill-2 {
    grid-area: skill2; }
  .about-skill .skill-3 {
    grid-area: skill3; }
  .about-skill .skill-4 {
    grid-area: skill4; }
  .about-skill .skill-5 {
    grid-area: skill5; }
  .about-skill .skill-6 {
    grid-area: skill6; }
  .about-skill .skill {
    background: #515151;
    padding: 1rem;
    margin: center;
    border-bottom: #eece1a 3px dotted; }
  .about-skill .publication {
    grid-area: publication;
    padding: 1rem;
    margin: center; }

.Cover .boxes {
  background-size: cover;
  display: inline-block;
  inline-size: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5rem; }
  .Cover .boxes div {
    font-size: 2rem;
    border: 3px yellow dotted;
    padding: 0.5rem 1.5rem;
    margin-bottom: 6rem;
    transition: all 0.5s ease-out; }
    .Cover .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #020f0ed8;
      color: black; }
      .Cover .boxes div:hover span {
        color: black; }

.Education {
  text-align: justify;
  grid-gap: 10px;
  margin:  20px;
  background: rgba(8, 60, 56, 0.847059);
  padding: 20px;
  box-shadow: 0px 0px 5px 5px rgba(81, 15, 15, 0.71);
  box-sizing: border-box;
  margin-top: 10px;

  }

.btn-light {
  background: #c4c4c4;
  color: #333; }

.btn-dark {
  background: black;
  color: #008000; }

.btn-n {
  display: inline-block;
  background: #3c2b0b;
  color: white;
  text-decoration: none;
  padding: 0.5em 0.5em;
  border: 1px solid #666;
  margin: 2em 0; }

.btn-n:hover {
  background: #eaeaea;
  color: #333; }



@media screen and (min-width: 1171px) {
  .education {
    grid-template-columns: repeat(4, 1fr); }
  .Cover {
    grid-template-columns: 1fr; } }

@media screen and (min-width: 761px) and (max-width: 1170px) {
  .education {
    grid-template-columns: repeat(3, 1fr); }
  .skill {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 760px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      /*background: url('/profile/public/img/gra.JPG');*/
      width: 300px;
      height: 300px; }
  .about-info {
    grid-template-areas: "profileimage" "profile";
    grid-template-columns: 1fr; }
  .work-info {
    grid-template-areas: "job1" "job2" "job3" "job4";
    grid-template-columns: 1fr; }
  .education {
    grid-template-columns: repeat(2, 1fr); }
  
  .Cover {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 480px) {
  main#home h1 {
    margin-top: 10vh;
    grid-template-columns: 1fr; }
  .education {
    grid-template-columns: 1fr; }
  .skill {
    grid-template-columns: 1fr; }
  .publication {
    grid-template-columns: 1fr; }
  .Cover {
    grid-template-columns: 1fr; } }




footer {
  background: hsla(0, 69%, 68%, 0.5);
  text-align: center;
  bottom: 0;
  color: black;
  width: 100%;
 padding: 5px ;

}




header {
  text-align: center;
  background-color:gray;
  color: wheat;
  width: 100%; }

.text-secondary {
  color: #eece1a; }

.text-tertiary {
  color: #020f0ed8; 
}

  .active {
  color: greenyellow;
}

.Navbar {
  display: flex;
  padding: 20px;
  background-color: rgb(94, 119, 19);
  justify-content: center;
  gap: 35px;
  text-transform: uppercase;
  list-style: none;
  position: sticky;

}

.Navbar2 {
  display: flex;
  padding: 15px;
  background-color: rgb(26, 26, 5);
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding-bottom: 30px;
  width: 100%;
}

.Femi_Adesola{
  width: 20%;
  border-radius: 80%;
  padding-bottom: 3px;

}
 
body .home {
  padding-bottom: 46px;
}
body .about{
  background-color:gray;
padding-bottom: 100px;
}

body .contactme{
  background-color:black;
 padding-bottom: 65px;
}
body .education2{
  background-color:white;
padding-bottom: 10px;
padding-top: 10px;

}
body .notfound{
  background-color:white;
  color: #333;
padding-bottom: 474px;
padding-top: 150px;
font-size: 50px;

}

body .skills{
  background-color:white;
padding-bottom: 20px;
}


body .testimonials{
  background-color:hsla(180, 75%, 55%, 0.407);
padding-bottom: 329px;
}

.profile{
  margin: 0px 150px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 text-align: justify;
 padding: 5px;
  
}

button{
  background-color: rgb(13, 52, 66);
  width: 150px;
  height: 40px;
  font-weight:lighter;
  border: none;
  margin-top: 150px;
  text-transform: uppercase;
  position: sticky;
  
}

button:hover {
        color:white;
        transition: all 0.5s ease-out; }